/* ==================== HERO ==================== */
.section-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fffcf8;
}
.hero, .hero-img {
  flex: 1 1 400px;
}
.hero {
  padding: 50px;
  text-align: center;
  background-color: #fffcf8;
}
.hero h1{
  color: #655274;
  font-size: 3.0em;
}
.hero p {
  color: #655274;
  font-size: 1.2em;
}
.hero-img img {
  width: 100%;
  height: auto;
}
.btn-whatsapp {
  display: inline-block;
  background-color: #e4a29f;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 768px) {
    .hero {
      padding: 30px;
    }
    .hero h1 {
        font-size: 1.7em;
        text-align: center;
    }
    .hero p {
        font-size: 1.1em;
        text-align: center;
    }
    .btn-whatsapp {
        display: block;
        margin: 20px auto;
        padding: 12px 20px;
        font-size: 1em;
    }
}