/* ==================== SEÇÃO SOBRE ==================== */
section#sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.sobre-cor {
  background-color: #C48F94;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 50px;
}
section#sobre h1 {
  font-size: 1.8rem;
  color: #F4F4F4;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  letter-spacing: 1px;
}
section#sobre h2 {
  font-size: 1.5rem;
  color: #F4F4F4;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
section#sobre p {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #F4F4F4;
  margin-bottom: 15px;
}
#fotosobre, #texto-sobre {
  flex: 1 1 400px;
}
#texto-sobre {
  padding-left: 20%;
}
#fotosobre img {
  width: 100%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}
#fotosobre {
  width: 500px;
  padding-right: 20%;
}
#btn2 {
  display: inline-block;
  background-color: #F4F4F4;
  color: #C48F94;
  padding: 15px 25px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px;
}
.crp {
  color: #F4F4F4;
  text-decoration: none;
}


@media (max-width: 768px) {
  section#sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.sobre-cor {
  background-color: #C48F94;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
section#sobre h1 {
  font-size: 1.8rem;
  color: #F4F4F4;
  margin: 0;
  letter-spacing: 1px;
}
section#sobre h2 {
  font-size: 1.5rem;
  color: #F4F4F4;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
section#sobre p {
  font-size: 1rem;
  line-height: 1.5;
  color: #F4F4F4;
  margin-bottom: 15px;
}
#fotosobre, #texto-sobre {
  flex: 1 1 400px;
}
#texto-sobre {
  padding-left: 0%;
}
#fotosobre img {
  width: 100%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}
#fotosobre {
  width: 500px;
  padding-right: 0%;
}
}